@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaAltBold.otf');
  src: url('./static/proximafont/ProximaNovaAltBold.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaAltLight.otf');
  src: url('./static/proximafont/ProximaNovaAltLight.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaAltThin.otf');
  src: url('./static/proximafont/ProximaNovaAltThin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaRegular.otf');
  src: url('./static/proximafont/ProximaNovaRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaThin.otf');
  src: url('./static/proximafont/ProximaNovaThin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaBlack.otf');
  src: url('./static/proximafont/ProximaNovaBlack.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaExtrabold.otf');
  src: url('./static/proximafont/ProximaNovaExtrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./static/proximafont/ProximaNovaBold.otf');
  src: url('./static/proximafont/ProximaNovaBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  :root {
    --white-color: 254, 254, 254;
    --black-color: 19, 19, 19;
    --blue-color: 0, 79, 141;
    --dark-green-color: 27, 37, 27;
  }
}

body {
  margin: 0;
  font-size: 0.8rem;
  font-family: 'Proxima Nova';
  font-weight: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

.music-icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}

.music-icon span {
  width: 3px;
  height: 100%;
  background-color: black;
  border-radius: 3px;
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

.music-icon span:nth-of-type(2) {
  animation-delay: -2.2s; /* Start at the end of animation */
}

.music-icon span:nth-of-type(3) {
  animation-delay: -3.7s; /* Start mid-way of return of animation */
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}
