@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/css/normalize..css');

@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-leicht.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-leicht-kursiv.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-buch.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-kraftig.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-kraftig-kursiv.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-halbfett.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-dreiviertelfett.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-fett.woff2) format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Sohne;
  src: url(./assets/fonts/sohne/sohne-web-extrafett.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Feijoa Display;
  src: url(./assets/fonts/feijoa/feijoa-web-display.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  font-variant-ligatures: common-ligatures;
  font-kerning: auto;
}

@font-face {
  font-family: Operator;
  src: url(./assets/fonts/operator/operator-web-book.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Operator;
  src: url(./assets/fonts/operator/operator-web-book-italic.woff2)
    format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: Operator;
  src: url(./assets/fonts/operator/operator-web-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Operator;
  src: url(./assets/fonts/operator/operator-web-bold-italic.woff2)
    format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

@layer base {
  :root {
    --white-color: 254, 254, 254;
    --black-color: 19, 19, 19;
    --blue-color: 0, 79, 141;
    --dark-green-color: 27, 37, 27;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  cursor: url(./assets/icon/cursor.png), auto !important;
  scroll-margin-top: 1rem;
}
::-webkit-scrollbar {
  height: 100%;
  width: 0.75rem;
  background-color: initial;
}
body::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: rgb(8 8 9 / var(--tw-bg-opacity));
}
::-webkit-scrollbar-track {
  background-color: initial;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 0.125rem solid #0000;
  background-clip: content-box;
  background-color: #e9e9e9;
}
::-webkit-scrollbar-button {
  display: none;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  min-width: 375px;
  overflow-x: clip;
  overscroll-behavior: none;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  background-image: linear-gradient(
    180deg,
    hsl(107deg 87% 32%) 0%,
    hsl(81deg 100% 31%) 10%,
    hsl(67deg 100% 32%) 20%,
    hsl(54deg 85% 40%) 30%,
    hsl(43deg 73% 53%) 40%,
    hsl(33deg 100% 65%) 50%,
    hsl(9deg 100% 72%) 60%,
    hsl(340deg 74% 69%) 70%,
    hsl(297deg 30% 58%) 80%,
    hsl(231deg 31% 55%) 90%,
    hsl(201deg 60% 36%) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
body {
  margin: 0;
  background: transparent;
}*/

.bg-grid {
  background-repeat: repeat;
  background-position: top;
  background-color: #080809;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23202023' fill-opacity='1' %3E%3Cpath opacity='0.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.music-icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}

.music-icon span {
  width: 3px;
  height: 100%;
  background-color: #5585ef;
  border-radius: 3px;
  transform-origin: bottom;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

.music-icon span:nth-of-type(2) {
  animation-delay: -2.2s; /* Start at the end of animation */
}

.music-icon span:nth-of-type(3) {
  animation-delay: -3.7s; /* Start mid-way of return of animation */
}

.squircle {
  position: relative;
  border-radius: 0.375rem;
}

.bg-green-gradient {
  background: linear-gradient(to bottom, #299a0b 0%, rgba(41, 154, 11, 1) 100%);
}

.bg-blue-gradient {
  background: linear-gradient(
    to bottom,
    #258dc8 0%,
    rgba(37, 141, 200, 1) 100%
  );
}

.bg-yellow-gradient {
  background: linear-gradient(
    to bottom,
    #ffaf4b 0%,
    rgba(255, 146, 10, 1) 100%
  );
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}
